[submodule "MinecraftForge"]
	path = MinecraftForge
	url = git@github.com:MinecraftForge/MinecraftForge.git
[submodule "FML"]
	path = FML
	url = git@github.com:MinecraftForge/FML.git
[submodule "fernflower"]
	path = fernflower
	url = https://github.com/fesh0r/fernflower
[submodule "BuildTools"]
	path = BuildTools
	url = git@github.com:MinecraftForkage/BuildTools.git
