[submodule "MinecraftForge"]
	path = MinecraftForge
	url = git@github.com:MinecraftForkage/MinecraftForge.git
[submodule "fernflower"]
	path = fernflower
	url = git@github.com:MinecraftForkage/fernflower.git
[submodule "BuildTools"]
	path = BuildTools
	url = git@github.com:MinecraftForkage/BuildTools.git
